@tailwind base;

.thumb img {
    max-width: unset !important;
}

.thumb1 img {
    max-width: unset !important;
}

@tailwind components;
@tailwind utilities;


.scroll-track::-webkit-scrollbar {
    display: none;
}

.scroll-track {
    scrollbar-width: none;
}

.mainpage-channelThumbnail {
    width: 40px;
}


.searchresultpage {
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0px;
}

.searchresultThumbnail {
    width: 400px;
}

.navbarSearch {
    width: 400px;
    padding: 5px 20px;
}

.searchResultCard {
    width: 70%;
}

.navbarSearchIcon {
    width: 40px;
    height: 35px;
}

.searchResultDetails {
    display: none;
}

.suggestVideopage {
    height: 85vh;
    position: relative;
    left: 20px;
    overflow-y: scroll;
    width: 500px;
}

.suggestVideoTitle1 {
    display: none;
}

.suggestVideoThumbnail {
    width: 200px;
}

.suggestVideoCard {
    width: 100%;
}



.suggestVideoChannelTitle
{
    font-size: 10px;
}

.Video
{
    margin: 0px 10px;
}

.playedVideo
{
    width: 890px;
    height: 500px;
}

.videoTitle
{
    width: 890px;
}

.videoChannelDetail
{
    width: 890px;
}

.suggestvideoDetail1
{
   display: none;
}

.ChannelDetailpageAvatar
{
    width: 120px;
}
/* Media quaries Responsive Design */

@media (max-width:1220px) {
    .videoDetailpage {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .suggestVideopage {
        margin: 20px 0px;
        height: auto;
        position: relative;
        left: 0px;
        overflow-y: visible;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .suggestVideoThumbnail {
        width: 400px;
    }

    .suggestVideoTitle1 {
        display: block;
        font-size: 18px;
        line-height: 22px;
    }

    .suggestVideoChannelTitle
    {
        margin: 10px 0px;
        font-size: 15px;
    }

    .suggestVideoTitle {
        display: none;
    }

    .suggestVideoCard {
        width: 890px;
    }



    .suggestVideoCount
    {
        font-size: 12px;
    }
}

@media (max-width:950px) {
    .searchResultCard {
        width: 100%;
    }

    .playedVideo
    {
        width: 775px;
        height: 435px;
    }

    .suggestVideoCard,.Video,.videoChannelDetail,.videoTitle
    {
        width: 775px;
    }
    
}

@media (max-width:800px) {
    .mainpage-Card {
        width: 300px;
    }

    .searchresultThumbnail {
        width: 300px;
    }

    .homepage {
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0px;
    }

    .upperMenubar {
        left: 0px;
    }

    .navbarSearch {
        width: 300px;
    }

    .hide {
        display: none;
    }

    .playedVideo
    {
        width: 675px;
        height: 380px;
    }

    .suggestVideoCard,.Video,.videoChannelDetail,.videoTitle
    {
        width: 675px;
    }

    .suggestVideoTitle1
    {
        font-size: 15px;
    }
}

@media (max-width:700px) {
    .playedVideo
    {
        width: 625px;
        height: 350px;
    }

    .suggestVideoCard,.Video,.videoChannelDetail,.videoTitle
    {
        width: 625px;
    }

    .suggestVideoThumbnail
    {
        width: 250px;
    }
}

@media (max-width:660px) {
    .mainpage-Card {
        width: 250px;
    }

    .mainpage-title {
        line-height: 12px;
        font-size: 10px;
    }

    .mainpage-channelTitle {
        font-size: 10px;
    }

    .playedVideo
    {
        width: 525px;
        height: 300px;
    }

    .suggestVideoCard,.Video,.videoChannelDetail,.videoTitle
    {
        width: 525px;
    }

    .suggestVideoTitle1
    {
        font-size: 12px;
    }

    .suggestVideoChannelTitle
    {
        font-size: 10px;
        margin: 5px 0px;
    }

    .suggestVideoCount
    {
        font-size: 10px;
        margin: 2px 0px;
    }
}

@media (max-width:560px) {

    .mainpage-Card {
        width: 200px;
    }

    .mainpage-channelThumbnail {
        width: 30px;
    }

    .navbarSearch {
        width: 150px;
    }

    .searchResultTitle {
        font-weight: bold;
        line-height: 12px;
        font-size: 10px;
    }

    .searchResultChannelTitle {
        font-size: 10px;
        margin: 0px 0px;
    }

    .searchChannelDetails {
        margin: 10px 0px;
        align-self: flex-start;
    }

    .searchResultcard {
        flex-direction: column;
        align-items: center;
    }

    .thumb1 {
        width: 100%;
    }

    .searchresultThumbnail {
        width: 100%;
    }

    .searchResultDetails {
        display: block;
    }

    .searchResultDetails1 {
        display: none;
    }

    .playedVideo
    {
        width: 100vw;
        height: 50vh;
    }

    .Video
    {
        width: 100vw;
        margin: 0px;
    }

    .videoChannelDetail,.videoTitle
    {
        margin: 5px 10px;
    }

    .suggestVideoCard
    {
        width: 100vw;
    }

    .suggestVideoThumbnail{
        border-radius: 0px;
    }
    
    .videoTitle
    {
        width: 80vw;
        line-height: 15px;
    }
    .videoChannelDetail
    {
        width: 80vw;
    }

    .suggestCardBody
    {
        display: flex;
        flex-direction: column;
    }

    .suggestVideoThumbnail
    {
        width: 100%;
    }

    .videoSubCount
    {
        font-size: 10px;
    }
    .suggestvideoDetail
    {
        display: none;
    }

    .suggestvideoDetail1
    {
        display: block;
    }

    .videoTitle
    {
        font-size: 15px;
    }

    .videoChannelTitle
    {
        font-size: 12px;
    }

    .suggestVideoTitle1
    {
        line-height: 12px;
    }

    .btn
    {
        padding: 2px 10px;
        font-size: 10px;
    }

    .ChannelDetailpageAvatar
    {
        width: 75px;
    }

    .ChannelDetailpageText
    {
        font-size: 12px;
    }
}

@media (max-width:528px){
    .ChannelVideosCard
    {
        margin: 0px;
        width: 100vw;
    }

    .ChannelVideosThumbnail
    {
        border-radius: 0px;
    }

    .ChannelVideosText
    {
        margin: 5px 10px 10px 10px;
    }
}

@media (max-width:456px) {
    .mainpage-Card {
        width: 100vw;
        margin: 0px;
        padding: 0px;
    }

    .playedVideo
    {
        height: 33vh;
    }

    .mainpage-thumbnail {
        border-radius: 0px;
    }

    .navbarSearch {
        width: 100px;
    }

    .navbaruserDetails {
        display: none;
    }

    .searchresultThumbnail {
        border-radius: 0px;
    }

    .searchChannelDetails {
        margin: 5px 10px;
    }

    .searchresultpage {
        margin: 0px;
        padding: 0px;
    }

    .ChannelDetailpageAvatar
    {
        width: 50px;
        align-self: center;
    }
}