@tailwind base;

.thumb img {
  max-width: unset !important;
}

/* .thumb1 img {
  max-width: unset !important;
} */

@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(221, 216, 216);
  border-radius: 0.5rem;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}

.scroll-track::-webkit-scrollbar {
  display: none;
}

.scroll-track {
  scrollbar-width: none;
}