@tailwind base;

.thumb img
{
    max-width: unset !important
}
@tailwind components;
@tailwind utilities;

 
.scroll-track::-webkit-scrollbar
{
    display: none;
}

.scroll-track
{
    scrollbar-width: none;
}